.aggregator-md {
  flex: 0 1 50%;
  // background-color: #ebebeb;
  // padding: 0 $baseline/2 $baseline/2;
}

.aggregator-md__featured {
  flex: 1 0 60%;
  background-color: $light-grey;
  width: calc(100% + #{$baseline});
  margin-left: -$baseline/2;
  margin-right: -$baseline/2;
  overflow: hidden;
  margin-bottom: $baseline/2;

  @include media($medium) {
    margin-right: $baseline/2;
    margin-left: 0;
    margin-bottom: 0;
  }
}

.aggregator-md__title {
  @include typi($size3-map);
  // text-align: center;
  text-transform: uppercase;
  letter-spacing: 1.3;
  color: black;
  font-family: $font-family-sans-serif;
  position:relative;
  margin: 0;

  @include media($medium) {
    margin: 0 0 $baseline/4;
  }
}


.aggregator-md__title:after {
  content: '';
  position: relative;
  display:block;
  height: 5px;
  width: calc(100% + #{$baseline});
  margin-left: -$baseline/2;
  margin-right: -$baseline/2;

  @include gradient-background-horizontal;

  @include media($medium) {
    width: 100%;
    margin: 0;
  }
}

.aggregator-md__featured-headline {
  margin: $baseline/2 0 $baseline/4 0;
  @include padding;
  @include typi($size3-map);
}

.aggregator-md__featured-standfirst {
  @include small-body;
  margin: $baseline/4 0 $baseline/2 0;
  @include padding;
}

.aggregator-md__featured-image {
  margin: 0;
  img {
    width: 100%;
    margin: auto;
    height: auto;
  }
}

.aggregator-md__featured-byline {
  @include padding;
  margin-bottom: $baseline/2;
}

.aggregator-md__list {
  flex: 1 1 40%;
  & > .flex-container {
    flex-direction: column;
    height: 100%;
  }
  & > :first-child {
    margin-top: 0;
  }

  @include media($medium) {
    & > :last-child {
      border-bottom: none;
    }
  }
}

.aggregator-md__headline {
  @include typi($size1-map);
  font-family: $font-family-headlines;
  //margin: 0 0 $baseline/4;
  margin: $baseline/8 0 $baseline/4 0;
  padding: 0 0 $baseline/4;
  border-bottom: 1px solid $mid-grey;
  flex: 1 0 auto;
}


.aggregator-md__primary-tag {
  @include small-sans-prominent;
  margin: $baseline/8 0;

}
