.link-sm {
  flex: 1 1 25%;
  box-sizing: border-box;
  padding: $baseline/2;
  text-align: center;
  background-color: darkercolor($brand-primary, 5%);
  width: calc(100% + #{$baseline});
  margin-left: -$baseline/2;
  margin-right: -$baseline/2;

  @include media($medium) {
    margin-right: 5px;
    margin-left: 0;
    padding: $baseline/4;
  }
}

.link-sm__content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.link-sm__title {
  @include typi($size3-map);
  font-family: $font-family-headlines;
  padding: 0 $baseline/4;
  margin-bottom: $baseline/2;
  color: #fff;
}

.link-sm__text {
  @include small-sans;
  margin: 0;
  color: #fff;
}
