.link-banner {
  background-color: #666;
  margin-bottom: $baseline;
  padding: $baseline/3;
  text-align: center;
}

.link-banner--breaking {
  background-color: rgb(250, 100, 100);
}

.link-banner__text {
  margin: 0;
}
