.link-banner {
  @include gradient-background-horizontal;
  margin-bottom: $baseline;
  padding: $baseline/4;
  text-align: center;
}

.link-banner--breaking {
  background-color: rgb(250, 100, 100);
}

.link-banner__text {
  @include small-sans;
  margin: 0;
}
