.headline-list {
  & :last-child {
    border-bottom: none;
  }
}

.headline-list__title {

}

.headline-list__primary-tag {
  @include small-sans-prominent;
  margin: $baseline/8 0;
}

.headline-list__headline {
  font-family: $font-family-headlines;
  @include typi($size1-map);
  font-weight: bold;
  margin: $baseline/8 0 $baseline/4 0;
  padding: 0 0 $baseline/4;
  border-bottom: 1px solid $mid-grey;
}
