.headline-list {
  & :last-child {
    border-bottom: none;
  }
}

.headline-list__title {

}

.headline-list__primary-tag {
  @include small-sans-prominent;
  color: black;
  margin-top: $baseline/2;
  @include before-tag;
}

.headline-list__headline {
  @include small-body;
  margin: $baseline/4 0;
  padding-bottom: $baseline/4;
  border-bottom: 1px solid #000;
}
