.single-md {
  flex: 1 1 50%;
  border: 1px solid black;
  text-align: center;
}

.single-md__image {
  margin: 0;
  display: inline-block;
  float: left;
  width: 50%;
  img {
    width: 100%;
    height: 100%;
    margin: auto;
  }
}

.single-md__copy {
  width: 50%;
  display: inline-block;
  float: right;
}

.single-md__headline {
  margin: 0;
}
