.single-sm {
  flex: 0 1 25%;
  background-color: $light-grey;
}

.single-sm__headline {
  @include padding;
  margin: $baseline/4 0 0 0;
}

.single-sm__image {
  width: 100%;
  margin-top: 0;
  img {
    width: 100%;
    height: 100%;
    margin: auto;
  }
}

.single-sm__primary-tag {
  @include padding;
  @include small-sans-prominent;
  margin-top: $baseline/2;
  margin-bottom: 0;

}

.single-sm__byline {
  @include small-sans;
  @include padding;
  margin-top: $baseline/2;
}
