.aggregator-md {
  flex: 0 1 50%;
  // background-color: #ebebeb;
  // padding: 0 $baseline/2 $baseline/2;
}

.aggregator-md__featured {
  flex: 1 0 60%;
  margin-right: $baseline/4;
}

.aggregator-md__title {
  @include typi($size3-map);
  // text-align: center;
  text-transform: uppercase;
  letter-spacing: 1.3;
  color: black;
  font-family: $font-family-sans-serif;
  position:relative;
  //border-bottom: 5px solid rgba(5, 130, 140, 0.3);
  margin: 0 0 $baseline/4;
}

.aggregator-md__title:after {
  content: '';
  position: relative;
  display:block;
  width: 100%;
  height: 5px;
  @include gradient-background;
}

.aggregator-md__featured-headline {

}

.aggregator-md__featured-standfirst {
  @include small-body;
}

.aggregator-md__featured-image {
  margin: 0;
  img {
    width: 100%;
    margin: auto;
    height: auto;
  }
}

.aggregator-md__list {
  flex: 1 1 40%;
  & > .flex-container {
    flex-direction: column;
    height: 100%;
  }
}

.aggregator-md__headline {
  @include small-sans;
  margin: 0 0 $baseline/4;
  padding: 0 0 $baseline/4;
  border-bottom: 1px solid grey;
  flex: 1 0 auto;
}
