.single-lg {
  //border-style: solid;
  //border-color: #000;
  //border-width: 1px 0px;
  padding: $baseline/2 0 $baseline/2;
  text-align: center;
  flex: 1 1 100%;
}

.single-lg__image {
  margin: 0;
  display: none;
  img {
    width: 100%;
    margin: auto;
    height: auto;
  }
  @include media($medium) {
    display: inline-block;
    flex: 1 0 50%;
  }
}

.single-lg__copy {
  @include media($medium) {
    display: inline-block;
    flex: 1 1 50%;
    float: right;
    padding: 0 $baseline; //should probably remove later
  }
}

.single-lg__byline {
  @include small-sans;
  margin: 0;
}

.single-lg__headline {
  // margin: $baseline 0;
  margin: 0;
}

.single-lg__primary-tag {
  @include small-sans;
  display: none;
  @include media($medium) {
    @include small-sans-prominent;
  }
}
