.single-sm {
  flex: 0 1 25%;
  // background-color: lightercolor(#99cccc, 80%);
  background-color: lightercolor(#02f2ab, 60%);
}

.single-sm__headline {
  @include padding;
}

.single-sm__image {
  width: 100%;
  margin-top: 0;
  img {
    width: 100%;
    height: 100%;
    margin: auto;
  }
}

.single-sm__primary-tag {
  @include padding;
  @include small-sans-prominent;
  @include before-tag;
}

.single-sm__byline {
  @include small-sans;
  @include padding;
}
