.single-md {
  flex: 1 1 50%;
  background-color: $light-grey;
  text-align: center;
  padding: $baseline/4;
}

.single-md__image {
  margin: 0;
  display: inline-block;
  width: 50%;
  img {
    width: 100%;
    height: 100%;
    margin: auto;
  }
}

.single-md__copy {
  display: block;
}

.single-md__byline {
  @include small-sans;
}

.single-md__headline {
  margin: 0;
}
