.headline-list__title {

}

.headline-list__primary-tag {
  //@include small-sans;
  //color: grey;
  //margin: 0;
  //padding: 0;
  @include small-sans-prominent;
  color: black;
}

.headline-list__headline {
  @include small-body;
  margin: 0 0 $baseline/2;
  padding: 0;
}
