.popular {
  flex: 0 0 33.3%;
  width: $column*3;
}

.popular__title {
  margin-bottom: $baseline/2
}

.popular__list {
  list-style-type: none;
  counter-reset: popular-counter;
  padding-left: 0;
}

.popular__list-item {
  display: list-item;
  margin-left: $baseline*1.5;
  @include small-sans;
  font-weight: bold;
  line-height: $baseline*0.75;
  height: auto;
  box-sizing: content-box;
}

.popular__list-item a {
  text-decoration: none;
  font-color: $fontcolor;;
  position: relative;
  top: -$baseline*0.75;
}

.popular__list-item a:hover {
  color: $brand-primary;
}

.popular__list-item::before {
  counter-increment: popular-counter;
  content: counter(popular-counter);
  display: block;
  width: 1.5em;
  height: 1.5em;
  @include small-sans;
  line-height: 1.5em;
  border-radius: 50%;
  border: 1px solid $mid-grey;
  text-align: center;
  vertical-align: baseline;
  font-color: $fontcolor;;
  position: relative;
  left: -$baseline*1.5;
}
