.single-lg {
  border-style: solid;
  border-color: #000;
  border-width: 1px 0px;
  padding: $baseline/2 0 $baseline/2;
  text-align: center;
}

.single-lg__image {
  display: inline-block;
  width: 50%;
  float: left;
  margin: 0;
  img {
    width: 100%;
    margin: auto;
    height: auto;
  }
}

.single-lg__copy {
  display: inline-block;
  width: 50%;
  float: right;
  padding: 0 $baseline; //should probably remove later
}

.single-lg__byline {
  @include small-sans;
  margin: 0;
}

.single-lg__headline {
  margin: $baseline 0;
}

.single-lg__primary-tag {
  @include label;
  @include small-sans;
}
