.single-lg {
  text-align: center;
  flex: 1 1 100%;
}

.single-lg__image {
  margin: 0;
  display: none;
  height:auto;
  img {
    width: 100%;
    margin: auto;
    height: auto;
  }
  @include media($medium) {
    display: inline-block;
    flex: 1 0 50%;
  }
}

.single-lg__copy {
  @include media($medium) {
    display: inline-block;
    flex: 1 1 50%;
    float: right;
    @include padding;
    align-self: center;
  }
}

.single-lg__byline {
  @include small-sans;
  margin: $baseline 0 0 0;
}

.single-lg__headline {
  // margin: $baseline 0;
  margin: 0 0 $baseline/2 0;
}

.single-lg__primary-tag {
  @include small-sans;
  display: none;
  @include media($medium) {
    @include small-sans-prominent;
  }
}

.single-lg__standfirst {
  margin: $baseline/2 0;
}
