.single-sm {
  width: 100%;
  display: flex;
  border-bottom: 1px solid $mid-grey;

  @include media($medium) {
    display: block;
    flex: 0 1 25%;
    background-color: $light-grey;
    border-bottom: none;
  }
}

.single-sm__text {
  flex: 1 0 50%;
  margin-left: -$baseline/2;

  & :first-child {
    margin-top: 0;
  }

  @include media($medium) {
    flex: none;
    margin-left: 0;

    & :first-child {
      margin-top: $baseline/2;
    }
  }
}

.single-sm__headline {
  @include padding;
  margin: $baseline/2 0 $baseline/4 0;
}

.single-sm__image {
  flex: 0 0 50%;
  margin-bottom: $baseline/2;
  margin-right: $baseline/2;

  img {
    width: 100%;
    margin: auto;
  }

  @include media($medium) {
    flex: none;
    margin: 0;
  }
}

.single-sm__primary-tag {
  @include padding;
  @include small-sans-prominent;
  margin-top: $baseline/2;
  margin-bottom: 0;
}

.single-sm__byline {
  font-size: ms(-2);
  font-family: $font-family-sans-serif;
  @include padding;
  margin: $baseline/2 0;
  @include media($medium) {
    @include small-sans;
  }
}
