.single-md {
  flex: 1 1 50%;
  text-align: center;
  height: 100%;
  border-bottom: 1px solid $mid-grey;

  @include media($medium) {
    border-bottom: none;
  }
}

.single-md__image {
  margin: 0;
  width: 100%;

  img {
    width: calc(100% + #{$baseline});
    margin-left: -$baseline/2;
    margin-right: -$baseline/2;

    @include media($medium) {
      width: 100%;
    }
  }
}

.single-md__primary-tag {
  @include small-sans-prominent;
}

.single-md__copy {
  display: block;
  margin: $baseline/4 0 $baseline/2 0;
}

.single-md__byline {
  @include small-sans;
  margin-bottom: $baseline/2;
}

.single-md__headline {
  margin: $baseline/4 0;

  @include media($medium) {
    margin: $baseline/2 0 $baseline/4 0;
  }
}

.single-md__standfirst {
  @include small-body;
  margin: $baseline/4 0 $baseline/2 0;
}
