.related {
}

.related__title {
  margin-bottom: $baseline/2;
}

.related__item-row {
  @include row();
  display: flex;
  flex-direction: column;
  //margin: 0 -$baseline/4;
  padding-bottom: $baseline/2;
  @include media($medium) {
    flex-direction: row;
  }

  :first-child {
    border-bottom: none;
  }
  :last-child {
    border-top: none;
  }
  @include media($medium) {
    :first-child {
      padding-left: 0;
    }
    :last-child  {
      border-right: none;
      padding-right: 0;
    }
  }
}

.related__item {
  //@include md-columns(4);
  //background-color: #efefef;
  //padding: $baseline/4;
  //margin: $baseline/4;
  padding: 0 $baseline/4;
  text-align: center;
  border-style: solid;
  border-color: #ccc;
  border-width: 1px 0;
  @include media($medium) {
    width: 33.33333%;
    border-width: 0 1px 0 0;
  }
}

.related__category {
  @include small-sans;
  margin-top: 0;
  margin-bottom: $baseline/2;
}

.related__headline {
  margin-top: $baseline/2;
  margin-bottom: $baseline/2;
}

.related__date {
  @include small-sans;
  margin-top: $baseline/2;
  margin-bottom: $baseline/4;
}
