.article-summary {
  @include row();
  margin-bottom: $baseline;
  border: 1px solid #000;
}

.article-summary__image {
  @include md-columns(6);
  height: 80%;
  img {
    width: 100%;
    height: auto;
    display: block;
  }
}

.article-summary__copy {
  @include md-columns(6);
  padding-right: $gutter;
}

.article-summary__headline {
  margin: $baseline/2 0 0 0;
  font-size: ms(2);
}

.article-summary__byline {
  @include small-sans;
}

.article-summary__date {
  @include small-sans;
}

.article-summary__category {
  @include small-sans;
}

.article-summary__primary-tag {
  @include small-sans;
}

.article-summary__excerpt {
  display: none;
  @include media($medium) {
    display: block;
    margin-top: $baseline/4;
    @include small-body;
  }
//  p {
  //  margin: $baseline 0;
  //}
}
