.footer {
  font-family: $font-family-sans-serif;
  border-top-style: solid;
  border-top-width: 1px;
  @include media($large) {
    padding: $baseline/1.5 $baseline 0;
  }
  @include media($large) {
    padding: $baseline/1.5 $baseline 0;
  }
  @include media($xlarge) {
    @include outer-container();
  }
}

.footer__link-row {
  @include row();
  @include side-padding;
  padding-bottom: $baseline;
}

.footer__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__column-item {
  list-style: none;
}

.footer__categories {
  @include md-columns(6);
}

.footer__categories-column {
  @include sm-columns(6);
}

.footer__pages {
  @include sm-columns(6);
  @include md-columns(3);
}

.footer__social-links {
  @include sm-columns(6);
  @include md-columns(3);
}

.footer__column-title {
  margin: 0;
  padding: 0 0 $baseline/2;
}

.footer__small-text {
  font-family: $font-family-sans-serif;
  font-size: ms(-1);
  // @include side-padding;
  padding: $baseline/2 0 $baseline/4;
  text-align: center;
}
