.large-header {

  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding: 1rem 0rem 0.5rem;
  margin-bottom: 1rem;

  @include media($large) {
    @include outer-container();
  }
}

.large-header__logo {
  display: block;
  width: 25%;
  margin: auto;
  @include media($large) {
    margin: 0;
  }
}

#large-header__toggle {
  position: absolute;
  opacity: 0;
}

#large-header__toggle:checked ~ .large-header__nav {
  right: 0px;
}

.large-header__toggle-label {
  right: 1rem;
  // height: 50px;
  // width: 50px;
  padding: 0.25rem;
  border-style: solid;
  border-width: 1px;
  border-radius: 0.25rem;
  background: white;
  position: absolute;
  display: inline-block;
  z-index: 999;

  /* Eventual hamburger
  &:before {
    content: '';
    display: block;
    position: absolute;
    height: 2px;
    width: 24px;
    background: #000;
    left: 13px;
    top: 18px;
    box-shadow: 0 6px 0 #000, 0 12px 0 #000;

  } */

  @include media($large) {
    display: none;
  }
}
.large-header__nav {
  position: fixed;
  top: 0;
  right:-16rem;
  height: 100%;
  width: 16rem;
  background: white;
  border-left-style: solid;
  border-left-width: 1px;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 20px;
  z-index: 500;

  @include media($large) {
    position: inherit;
    margin: 0;
    padding: 0;
    width: auto;
    border-style: none;
    background-color: inherit;
  }
}

.large-header__nav-list {
  list-style: none;
  margin-top: 2rem;
  padding-left: 0;
  padding-top: 0.5rem;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #c7c7c7;

  @include media($medium) {
    display: inline;
  }
}

.header__nav-list-item {
  font-family: $font-family-sans-serif;
  @include typi($size1-map);
  padding: 0;
  // padding-bottom: 0.5rem;
  margin: 0;
  margin-top: 0.5rem;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #c7c7c7;
  @include media($large) {
    display: inline;
    float: left;
    padding-right: 0.5rem;
    border-style: none;
    padding: 0;
    margin: 0;
    padding-right: 0.5rem;
  }

  a {
    text-decoration: none;
  }

  a:visited {
    color: black;
  }
}

.large-header__search-form {
  @include media($large) {
    display: inline;
    float: right;
  }
}
