.reg__content-row,
.reg__headline-row,
.reg__meta-row,
.reg__byline-row {
  @include row();
}

.reg__main-column {
  @include sm-columns(12);
  @include lg-columns(9);
}

.reg__content {
  @include sm-columns(12);
  @include lg-columns(10, 2);
}

.reg__details {
  @include sm-columns(12);
  @include lg-columns(2, -12);
}

.reg__sidebar {
  display:none;
  @include lg-columns(3);
}

.reg__topic-line,
.reg__headline,
.reg__article-image,
.reg__standfirst,
.reg__tags {
  @include sm-columns(12);
  @include lg-columns(10, 2);
}

.reg__standfirst {
  @extend .standfirst; 
}

.reg__article-image {
  img {
    width: 100%;
    height: auto;
    display: inline-block;
  }
}

.reg__date,
.reg__social {
  @include sm-columns(6);
  @include lg-columns(12);
}
