.reg__content-row {
  @include row();
  @include side-padding;
}

.reg__headline-row {
  @include row();
  @include side-padding;
}

.reg__related-row {
  @include row();
}

.reg__meta-row {
  @include row();
}

.reg__byline-row {
  @include row();
  @include side-padding;
}

.reg__main-column {
  @include sm-columns(12);
  @include lg-columns(9);
}

.reg__content {
  @include sm-columns(12);
  @include md-columns(10, 1);
  @include lg-columns(10, 2);
  display: block;
}

.reg__details {
  @include sm-columns(12);
  @include md-columns(10, 1);
  @include lg-columns(2, -12);
  @include mono;
}

.reg__sidebar {
  display:none;
  @include lg-columns(3);
}

.reg__topic-line {
  @include lg-columns(10, 2);
  @include mono;
}

.reg__headline {
  @include lg-columns(10, 2);
}

.reg__article-image {
  @include sm-columns(12);
  @include lg-columns(10, 2);
}

.reg__tags {
  @include sm-columns(12);
  @include md-columns(10, 1);
  @include lg-columns(10, 2);
  @include mono;
}

.reg__standfirst {
  @include standfirst;
  @include lg-columns(10, 2);
}

.reg__article-image {
  img {
    width: 100%;
    height: auto;
    display: inline-block;
  }
}

.reg__article-image__caption {
  font-family: $font-family-sans-serif;
  font-size: ms(-1);
  @include side-padding;
  margin: 0;
}

.reg__date {
  @include sm-columns(6);
  @include lg-columns(12);
}

.reg__share {
  @include sm-columns(6);
  @include lg-columns(12);
}

.reg__secondary-share {
  @include sm-columns(12);
  @include md-columns(10, 1);
  @include lg-columns(10, 2);
}
