.search-form {
  padding: 0;
  margin: 0;
  font-family: $font-family-sans-serif;
  font-size: 0;
}

.search-form__input {
  border-style: solid;
  border-color: black;
  border-width: 1px 0px 1px 1px;
  padding: 0 0 0 0.4rem;
  margin: 0;
  @include typi($size1-map);
  @include media($medium) {
    border-width: 1px 0px 0px 1px;
  }
  @include media($large) {
     border-style: solid;
     border-color: $headerfootertext;
     border-width: 0px 0px 2px 0px;
     background: none;
     color: $headerfootertext;
     padding-top: 2px; //makes same height as submit
  }
}

.search-form__submit {
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  background-color: white;
  padding: 0 0.4rem 0;
  margin: 0;
  @include typi($size1-map);

  @include media($medium) {
    border-width: 1px 1px 0px 1px;
  }
  @include media($large) {
    border-color: $headerfootertext;
    border-width: 2px;
    background-color: $headerfootertext;
    color: $headerfooterbg;
  }
}
