.share {
}

.share__buttons {
  padding:0;
  margin:0;
}
.share__button {
  list-style-type: none;
  display:inline-block;
  margin-bottom: $baseline/2;
  margin-right: $baseline/2;
}



.share__logo {
  color: #000;
  border: 1px solid #000;
  border-radius: 50%;
  display:inline-block;
  width: 2rem;
  height: 2rem;
  position: relative;
  background: transparent;
  vertical-align: top;
}

.share__logo:hover {
  background-color: $brand-primary;
  border: none;
}

.share__logo--fb {}

.share__logo--tw {}

.share__svg {
  width: 100%;
  height: 100%;
  display: block;
}

.share__svg:hover {
  fill: #fff;
}

.share__total {
  height: 2rem;
  display: inline-block;
  vertical-align: top;
  line-height: 2rem;
  @include mono;
}

.share__total--fb {}
.share__total--tw {}
