.share {
}

.share__buttons {
  padding:0;
  margin:0;
  display: inline-block;
}
.share__button {
  list-style-type: none;
  display:inline-block;
}

.share__logo {
  display:inline-block;
  position: relative;
  vertical-align: top;
}

.share__logo--fb {}

.share__logo--tw {}

.share__svg {
  padding: 0.3rem;
  width: 2rem;
  height: 2rem;
  box-sizing: border-box;
  display: block;
  border-radius: 50%;
  border: 1px solid $mid-grey;
}

.share__svg:hover {
  fill: $text-on-brand-primary;
  background-color: $brand-primary;
  border-color: $brand-primary;
}

.share__traction {
  @include small-grey;
  @include lg-columns(12);
}

.share__traction-count {
  font-weight: 700;
}
