.share {
}

.share__buttons {
  padding:0;
  margin:0;
}
.share__button {
  list-style-type: none;
  display:inline-block;
  margin-bottom: $baseline/2;
  margin-right: $baseline/2;
}



.share__logo {
  display:inline-block;
  position: relative;
  vertical-align: top;
  margin-right: $baseline/8;
}

.share__logo--fb {}

.share__logo--tw {}

.share__svg {
  padding: 0.3rem;
  width: 2rem;
  height: 2rem;
  box-sizing: border-box;
  display: block;
  border-radius: 50%;
  border: 1px solid #ccc;
}

.share__svg:hover {
  fill: $text-on-brand-primary;
  background-color: $brand-primary;
  border-color: $brand-primary;
}

.share__total {
  @include mono;
  height: 2rem;
  display: inline-block;
  line-height: 2rem;
}

.share__total--fb {}
.share__total--tw {}
