.tags {}

.tags__title {}

.tags__tag-list {
  display: inline-block;
}

.tags__tag-list-item {
  display: inline-block;
  margin-right: 5px; // PUT THE ACTUAL REM VALUES IN HERE
  padding: 0.5rem;
  padding-right: 0.75rem;
  background-color: #999;
  border-radius: 0rem 1rem 1rem 0rem;
}
