.tags {
  font-family: $font-family-monospace;
}

.tags__title {
  display: inline;
}

.tags__tag-list,
.tags__tag-list ul {
  display: inline-block;
  padding: 0;
  margin-bottom: $baseline/2;
}

.tags__tag-list-item {
  display: inline-block;
  margin-right: $baseline/8;
  margin-bottom: $baseline/8;
  padding-left: $baseline/4;
  padding-right: $baseline/4;
  background-color: $brand-primary;
  color: #fff;
}

.tags__tag-list-item a {
  color: inherit;
  text-decoration: none;
}

.tags__tag-list-item:hover {
  background-color:$brand-primary-dark;
}
