.tags {
  font-family: $font-family-monospace;
}

.tags__title {}

.tags__tag-list {
  display: inline-block;
}

.tags__tag-list-item {
  display: inline-block;
  margin-right: 5px; // PUT THE ACTUAL REM VALUES IN HERE
  padding: 0.5rem;
  padding-right: 0.5rem;
  background-color: $brand-primary;
  border-radius: 0;
  color: #fff;
}

.tags__tag-list-item a {
  color: inherit;
}

.tags__tag-list-item:hover {
  background-color:$brand-primary-dark;
}
