.popular {
  @include md-columns(10, 1);
  @include lg-columns(14 of 16, 2);
}

.popular__title {
  margin-bottom: $baseline/2
}

.popular__list {
  list-style-type: none;
  counter-reset: popular-counter;
  padding-left: 0;
}

.popular__list-item,
.popular__list-item a {
  text-decoration: none;
  @include fontcolor;
}

.popular__list-item a:hover {
  color: $brand-primary;
}

.popular__list-item::before {
  counter-increment: popular-counter;
  content: counter(popular-counter);
  margin-right: 10px;
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  @include mono;
  line-height: 1.5em;
  border-radius: 50%;
  border-color: black;
  text-align: center;
  vertical-align: baseline;
  color: $brand-primary;
}
