.related {
}

.related__title {
  margin-bottom: $baseline/2;
}

.related__item-row {
  @include row();
  display: flex;
  flex-direction: column;
  margin: 0 -$baseline/4;
  padding-bottom: $baseline/2;
  @include media($medium) {
    flex-direction: row;
  }

}

.related__item {
  //@include md-columns(4);
  //background-color: #efefef;
  border: 1px solid #ccc;
  @include media($medium) {
    width: 33.33333%;
  }
  padding: $baseline/4;
  margin: $baseline/4;
}

.related__category {
  @include mono;
  margin-top: 0;
  margin-bottom: $baseline/2;
}

.related__headline {
  @include typi($size3-map);
  margin-top: $baseline/2;
  margin-bottom: $baseline/2;
}

.related__date {
  @include mono;
  margin-top: $baseline/2;
  margin-bottom: $baseline/4;
}
