.related {
}

.related__title {
  margin-bottom: $baseline/2;
}

.related__item-row {
  @include row();
}

.related__item {
  @include md-columns(4);
  //background-color: #efefef;
  border: 1px solid #ccc;
  padding-left: $baseline/4;
  padding-right: $baseline/4;
  margin-bottom: $baseline/2;
}

.related__category {
  @include mono;
  margin-top: 0;
  margin-bottom: $baseline/2;
}

.related__headline {
  @include typi($size3-map);
  margin-top: $baseline/2;
  margin-bottom: $baseline/2;
}

.related__date {
  @include mono;
  margin-top: $baseline/2;
  margin-bottom: $baseline/4;
}
