
.author__main-column {
}

.author__author-name {
}

/*
below stuff is commented out bc I dumplicated _reg-article.scss to make this file and want to refer back to this
can delete later

.reg__content-row,
.reg__headline-row,
.reg__meta-row,
.reg__byline-row {
  @include make-row();
}

.reg__content {
  @include make-xs-column(12);
  @include make-md-column(10);
  @include make-md-column-offset(2);
}

.reg__details {
  @include make-xs-column(12);
  @include make-md-column(2);
  @include make-md-column-pull(10);
}

.reg__category {
  @include make-xs-column(12);
  @include make-md-column-offset(2);
}

.reg__primary-tag {
  @include make-xs-column(12);
  @include make-md-column-offset(2);
}

.reg__headline {
  @include make-xs-column(12);
  @include make-md-column(10);
  @include make-md-column-offset(2);
}

.reg__standfirst {
  @include make-xs-column(12);
  @include make-md-column-offset(2);
}

.reg__article-image {
  @include make-xs-column(12);
  @include make-md-column(10);
  @include make-md-column-push(2);

  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
}

.reg__article-image__media {}

.reg__article-image__caption {}

.reg__byline {
  @include make-xs-column(12);
}

.reg__date {
  @include make-xs-column(6);
  @include make-md-column(12);
}

.reg__social {
  @include make-xs-column(6);
  @include make-md-column(12);
}

*/
