

html {
  @include typi-base();
}

// type

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-headlines;
}

p {
  font-family: $font-family-serif !default;
}

// end type

.u-unstyled-list {
  list-style: none;
}

.content-wrapper {
  @include outer-container();
}
