

html {
  @include typi-base();
}

// type

body {
  font-family: $font-family-serif;
}

h1 {
  @include typi($h1-map);
  //not sure why we need the margin stuff below - user agent stylesheet was adding margin automatically
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  font-family: $font-family-headlines;
}

h2 {
  @include typi($h2-map);
  font-family: $font-family-headlines;
}

h3 {
  font-family: $font-family-sans-serif;
  @include typi($h3-map);
  font-weight: 600;
}

.standfirst {
  font-family: $font-family-sans-serif;
  font-weight: 300;
  @include typi($h3-map);
}


// end type

.u-unstyled-list {
  list-style: none;
}

.content-wrapper {
  @include outer-container();
}
