// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #005689;
$twitter-color:         #03b3ee;
$facebook-color:        #3067a3;
