//BREAKPOINTS

//this first breakpoints variable is used by typi
$breakpoints: (
  medium: 768px,
  large: 992px,
  xlarge: 1200px
);

//this second set of breakpoints is for neat and is pulled from the typi breakpoint map above. inelegant but necessary for the time being.
$medium: new-breakpoint(min-width #{map-get($breakpoints, medium)});
$large: new-breakpoint(min-width #{map-get($breakpoints, large)});
$xlarge: new-breakpoint(min-width #{map-get($breakpoints, xlarge)});

// modular scale (for type sizes etc.)

$ms-base: 1rem;
$ms-ratio: $major-third;

// baseline

$lineheight: 1.6;
$baseline: 1rem * $lineheight;

// TYPI MAPS (responsive type)

$typi: (
  null: (17px, $lineheight),
  medium: (18px, $lineheight),
  large: (19px, $lineheight),
  xlarge: (19px, $lineheight)
);

$size5-map: (
  null: (ms(5), $baseline*2)
  );

$size4-map: (
  null: (ms(3), $baseline*2)
);

$size3-map: (
  null: (ms(1), $baseline)
);

//size 2 is default

$size1-map: (
  null: (ms(-1), $baseline)
);

// end typi

// type variables

$font-family-serif: "Lora", Georgia, "Times New Roman", Times, serif;
$font-family-sans-serif: "Roboto", Helvetica, Arial, sans-serif;
$font-family-headlines: "Merriweather";
$font-family-monospace: "Roboto", Menlo, Monaco, Consolas, "Courier New", monospace;

// color functions

@function lightercolor($color, $percentage) {
  @return mix(white, $color, $percentage); // lightercolor function now mixes any color with white in % specified
}

@function darkercolor($color, $percentage) {
  @return mix(black, $color, $percentage); // darkercolor now mixes any color with black in % specified
}

// colours

$brand-primary: #454545;
$brand-primary-dark: darkercolor($brand-primary, 20%);
$brand-primary-light: lightercolor($brand-primary, 30%);
$text-on-brand-primary: #fff;
