.archive {
  @include row();
}

.archive__main-column {
  @include md-columns(10, 1);
  @include lg-columns(9 of 12);
}

.archive__sidebar {
  //display:none;
  @include lg-columns(3);
}

.archive__no-result {
}

.archive__no-result--search {
  background-color: $light-grey;
  display: block;
  width: 100%;
  padding: $baseline;
  margin-top: $baseline/2;
}
