.archive {
  @include row();
}

.archive__main-column {
  @include md-columns(10, 1);
  @include lg-columns(9 of 12);

  @include media($large) {
    margin-left: $baseline/2;
  }

  @include media($xlarge) {
    margin: 0;
  }
}

.archive__sidebar {
  //display:none;
  @include lg-columns(3);
}

.archive__no-result {
}

.archive__banner {
  @include row();
  text-align: center;
  border-bottom: 1px solid $mid-grey;
  margin: 0 $baseline/2 $baseline/2 $baseline/2;

  @include media($medium) {
   margin: 0 0 $baseline/2 0;
   width: 100%;
   @include padding;
 }

}

.archive__no-result--search {
  background-color: $light-grey;
  display: block;
  width: 100%;
  padding: $baseline;
  margin-top: $baseline/2;
}
