.category__banner {
  @include row();
  text-align: center;
  border-bottom: 1px solid $mid-grey;
  margin: 0 $baseline/2 $baseline/2 $baseline/2;

  @include media($medium) {
   margin: 0 $baseline/2 $baseline/2 $baseline/2;
  }
  
   @include media($xlarge) {
     margin: 0 0 $baseline/2 0 ;
   }
}
