.page {
  @include row();
}

.page__links-column {
  @include md-columns(3);
}

.page__list {}

.page__content-column {
  @include md-columns(7);
  @include side-padding;
}

.page-header { //gotta make this not centred
  width: 100%;
  align: none;
}

.page__title {
  margin: 0 0 $baseline/4 0;
}
