.front__strap,
.front__array {
  //@include row();
  margin: $baseline/2 0 $baseline/2;
  display: block;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: black;
  @include media($medium) {
    display: flex;
  }
  & :first-child {
    margin-left: 0;
  }
  & :last-child {
    margin-right: 0;
  }
}

.front__strap > div,
.front__array > div {
  @include media($medium) {
    margin: 0 $baseline/4 0 $baseline/4;
  }
}


.front__array__headlines {
  flex: 0 1 20%;
}

.front__array__secondary {
  flex: 0 1 80%;
  margin-right: 0;
  padding-right: 0;

  & > .front__strap {
    margin-top: 0;
  }
}
