.reg__content-row {
  @include row();
  @include side-padding;
}

.reg__headline-row {
  @include row();
  @include side-padding;
}

.reg__othercontent {
  @include md-columns(10, 1);
  @include lg-columns(12);
}

.reg__othercontent-flex {
  display: flex;
  flex-direction: column;
  @include media($large) {
    flex-direction: row;
    padding: $baseline;
  }

}

.reg__meta-row {
  @include row();
  @include media($large) {
    @include padding;
  }
  @include media($xlarge) {
    padding: 0;
  }
}

.reg__byline-row {
  @include row();
  @include padding;
  @include media($large) {
    padding: 0;
  }
}

.reg__main-column {
  @include sm-columns(12);
  @include lg-columns(9);
}

.reg__content {
  @include sm-columns(12);
  @include md-columns(10, 1);
  @include lg-columns(10, 2);
  display: block;
  @include link-body;
}

.reg__details {
  @include sm-columns(12);
  @include md-columns(10, 1);
  @include lg-columns(2, -12);
  @include small-sans;
  margin-top: $baseline/2;
  @include media($large) {
    margin-top: 0;
  }
}

.reg__sidebar {
  display:none;
  @include lg-columns(3);
  padding-top: 800px; // remove later
}

.reg__category-line {
  @include lg-columns(10, 2);
}

.reg__headline {
  @include lg-columns(10, 2);
  h1 {
    margin: $baseline/2 0 $baseline/2;
  }
}

.reg__article-image {
  @include sm-columns(12);
  @include lg-columns(10, 2);
}

.reg__article-image--none {
  display: block;
  width: 100%;
  min-height: $baseline*2;
  background-color: darkercolor($brand-primary, 5%);
  padding: $baseline/2;
  color: #fff;
  text-align: center;
}

.reg__tags {
  @include sm-columns(12);
  @include md-columns(10, 1);
  @include lg-columns(10, 2);
  @include small-sans;
}

.reg__related {
  @include sm-columns(12);
  @include md-columns(10, 1);
  @include lg-columns(10, 2);
}

.reg__standfirst {
  @include standfirst;
  @include lg-columns(10, 2);
  p {
    margin: $baseline/2 0;
  }
}

.reg__article-image {
  img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0;
    padding: 0;
  }
}

// Pull type out of here.
.reg__article-image__caption {
  @include small-grey;
  @include side-padding;
  margin: $baseline/8 0 0 0;
  display: block;
  @include media($large) {
    padding: 0;
  }
}

.reg__byline {
  font-family: $font-family-sans-serif;
}

.reg__date {
  @include media($large) {
    margin-top: $baseline/2;
  }
}

.reg__bylinedate {
  @include sm-columns(6 of 12);
  @include lg-columns(12);
}

.reg__share {
  @include sm-columns(6 of 12);
  @include lg-columns(12);
  vertical-align: top;
  @include media($large) {
    margin-top: $baseline/2;
  }
  ul {
    float:right;

    @include media($large) {
      float: left;
    }
  }
}

.reg__secondary-share {
  @include sm-columns(12);
  @include md-columns(10, 1);
  @include lg-columns(10, 2);
  margin-bottom: $baseline;
}
